@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --black-shade: #4B556B;
    --white-shade: #F9F6EE;
    --gray-shade: #94a1b2;
    --blue-shade: #2A86FF;
    --purple-shade: #9E7BFF;
}

@font-face {
    font-family: Poppins-Regular;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Black;
    src: url(assets/fonts/Poppins-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    font-family: Poppins-Regular, "Poppins", Arial, Verdana;
    color: var(--white-shade);
    transition: 0.2s ease-in-out;
    user-select: none;
}

body {
    background-color: var(--black-shade);
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: none;
}

nav,
header,
footer,
section {
    display: block;
}

a {
    text-decoration: none;
    cursor: none;
}

ul {
    list-style: none;
    cursor: none;
}

img {
    width: 100%;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: var(--black-shade);
}

body::-webkit-scrollbar-thumb {
    background: var(--blue-shade);
}

/* Cursor */
.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: var(--blue-shade);
}

.cursor-outline {
    width: 50px;
    height: 50px;
    border: 2px solid var(--blue-shade);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    transition: 0s;
}

.container h3.title {
    width: 100%;
    text-align: center;
    border: 3px solid var(--blue-shade);
    margin: 0 0 1rem 0;
}

.turn-container {
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-container h3 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-container .turn-box {
    border: 3px solid black;
    font-size: 1.6rem;
    font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 45px;
    background-color: var(--purple-shade);
    z-index: -1;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid black;
}

.box {
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid black;
}

.box:hover {
    background-color: var(--purple-shade);
}

#play-again {
    background-color: var(--purple-shade);
    padding: 10px 25px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 5px;
    display: none;
}

#play-again:hover {
    padding: 10px 40px;
    background-color: var(--blue-shade);
    color: var(--white-shade);
}